.trailer_swiper {
  max-height: 450px !important;
  padding: 15px 0 !important;
  display: flex;
  overflow-x: auto;
}
.trailer_swiper::-webkit-scrollbar {
  /* width: 0; */
  background: transparent;
  height: 10px;
}
.trailer_swiper::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 20px;
}
.trailer_swiper .slide_item {
  margin-right: 20px;
  height: 300px;
  cursor: pointer;
  user-select: none;
  min-width: 45%;
}
@media (max-width: 1240px) {
  .trailer_swiper .slide_item {
    min-width: 60%;
  }
}
@media (max-width: 766px) {
  .trailer_swiper .slide_item {
    min-width: 75%;
  }
}
@media (max-width: 566px) {
  .trailer_swiper .slide_item {
    min-width: 90%;
  }
}
