.header_section {
  position: sticky;
  top: 0;
  z-index: 2;
  flex-wrap: wrap;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000 !important;
}
